@model IEnumerable<Scoring.ApplicationShared.DTOs.EventPerformerDto>

@{
    ViewData["Title"] = "Index";
}

<h1>All Performed Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformerTeam.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuccessfullyCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStorySource)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Event.Rank)
            </td>
            <td>
                @{
                    var completedStatus = "No";
                    if (item.SuccessfullyCompleted)
                    {
                        completedStatus = "Yes";
                    }
                }
                @completedStatus
            </td>
            <td>
                <a href="@item.EventStorySource">Event Resource Link</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning col-md-12" })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success col-md-12" })
            </td>
        </tr>
}
    </tbody>
</table>
